DATABASE_URL = tour database url
SECRET_KEY = your_secret_key
ALGORITHM = JWT algorithm 
ACCESS_TOKEN_EXPIRE_MINUTES  = JWT access token expiration time in minutes
REFRESH_TOKEN_EXPIRE_DAYS = JWT refresh token expiration time in days